
body{
    background-color: azure;
}
.wrapperFormReg{
    background-color:rgb(184, 215, 204);
    margin: 2vh;
    padding: 5%;
    width: 600px;

}
.wrapperFormReg .input-form{
    width: 100%;
    position: relative;
    background-color: rgb(184, 215, 204);
    height: 50px;
    margin: 30px 0;

}
.input-form input{
width: 100%;
height: 100%;
background: top;
border: none;
outline: none;
border: 2px solid rgba(250, 4, 4, 0.2);
border-radius: 40px;
font-size: 16px;
color: rgb(30, 29, 28);
padding: 20px 45px 20px 20px;

}
.input-form .icon{
position: absolute;
right: 20px;
top: 30%;
transform: translate(-50%);
font-size: 16px;
}
.input-form ::placeholder{
    color:cornflowerblue;
}
.wrapperFormReg .rember-me{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}
.wrapperFormReg button{
    width: 100%;
    height: 45px;
    background: rgb(198, 50, 50);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    cursor: pointer;
    font-weight: 700;
}
.wrapperFormReg .register-me{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 10px 15px 15px 15px;
}
.wrapperFormReg .recapcha-key{
    padding: 10px 10px 10px 10px;
}
.wrapperFormReg .fname{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: rgb(184, 215, 204);
    margin: 30px 0;
    color: rgb(30, 29, 28);
}
.fname input{
    width: 50%;
    height: 100%;
    background: top;
    border: none;
    outline: none;
    border: 2px solid rgba(250, 4, 4, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(30, 29, 28);
    padding: 20px 45px 20px 20px; 
}
.fname ::placeholder{
    color:cornflowerblue;
}
.fname .icon{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 16px;
    }
.check-form input lable{
    width: 100%;
    height: 100%;
    background: top;
    border: none;
    outline: none;
    border: 2px solid rgba(250, 4, 4, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(30, 29, 28);
    padding: 20px 45px 20px 20px;
    
    }